<div class="row">
    <div class="card col p-3 m-3">
        <div>
            <div>
              <h4 class="text-uppercase">Confirmed</h4>
            </div>
            <div>
              <h1>{{totalConfirmed}}</h1>
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div>
            <div>
              <h4 class="text-uppercase">Recovered</h4>
            </div>
            <div>
              <h1>{{totalRecovered}}</h1>
            </div>
          </div>
    </div>

    <div class="card col p-3 m-3">
        <div>
            <div>
              <h4 class="text-uppercase">Deaths</h4>
            </div>
            <div>
              <h1>{{totalDeaths}}</h1>
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div>
            <div>
              <h4 class="text-uppercase">Active</h4>
            </div>
            <div>
              <h1>{{totalActive}}</h1>
            </div>
          </div>
    </div>
</div>
